* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@font-face {
  font-family: bestermind;
  src: url(/public/BestermindRegular.ttf);
}
.bestermind {
  font-family: bestermind;
  font-size: 2rem;
  font-weight: 900;
}

#firstCol {
  background-color: #f03939;
}

#secondCol {
  background-color: #212121;
}

@font-face {
  font-family: gilroy;
  src: url(/public/Gilroy-SemiBold.ttf);
}
.gilroy {
  font-family: thunder;
  font-weight: 700;
}

@font-face {
  font-family: gilroy;
  src: url(/public/Gilroy-SemiBold.ttf);
}
.gillroy {
  font-family: gilroy;
  font-weight: 700;
}

@font-face {
  font-family: papernotes;
  src: url(/public/Papernotes.otf);
}
.papernotes {
  font-family: papernotes;
}

@font-face {
  font-family: dragon;
  src: url(/public/Dragon-Angled-BF64b9feda9214d.otf);
}
.dragon {
  font-family: dragon;
  font-weight: 900;
  font-size: 3em;
  letter-spacing: 2px;
}

@font-face {
  font-family: california;
  src: url(/public/Callifornia.otf);
}
.california {
  font-family: california;
  font-size: 1.5em;
  font-weight: 700;
  transform: rotate(-13deg);
  text-decoration: underline;
}

@media screen and (min-width: 1px) and (max-width: 1080px) {
  .california {
    margin-top: 20px;
    transform: rotate(-20deg);
    font-size: 1em;
  }
}

@media screen and (min-width: 702px) and (max-width: 1080px) {
  .california {
    margin-right: 6em;
    transform: rotate(-20deg);
    font-size: 1em;
  }
}

@font-face {
  font-family: pleasewritemeasong;
  src: url(/public/Pleasewritemeasong.ttf);
}
.song {
  font-family: pleasewritemeasong;
}

#my_img {
  border: 0.1px solid transparent;
  width: 100%;
  padding: 2em;
}

#myPic {
  display: block;
  margin: 0em auto;
  background: url("/src/myDp.jpg") no-repeat center/cover;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
}

.container {
  border: 0.1px solid transparent;
  padding: 0.45em 0em;
}

#texts {
  margin: 10em 0em;
}

.icons a {
  color: #212121;
}

.icons {
  margin: 2em 0em;
  display: flex;
  justify-content: center;
}

#is i {
  padding: 0.3em 0.8em;
  font-size: 4em;
}

#ic {
  transition: transform 0.5s;
}

.icons i {
  padding: 0.3em 0.8em;
  font-size: 1.5em;
}

#buttons {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 1rem;
  font-family: gilroy;
}

#ic:hover {
  transform: scale(1.3);
}

@media screen and (min-width: 1px) and (max-width: 820px) {
  #firstRow {
    display: flex;
    flex-direction: column;
  }

  #firstCol {
    background-color: #f03939;
    width: 100%;
  }

  #secondCol {
    background-color: #212121;
    width: 100%;
  }
  .container {
    border: 0.1px solid transparent;
  }
  .icons {
    margin: 2em 0em;
    display: flex;
    color: #212121;
    justify-content: center;
  }

  .icons i {
    padding: 0.3em 0.8em;
    font-size: 1.5em;
  }

  #my_img {
    border: 0.1px solid transparent;
    width: 100%;
    padding: 2em;
  }

  #myPic {
    display: block;
    margin: 0em auto;
    background: url("/src/myDp.jpg") no-repeat center/cover;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    border: 3px solid beige;
  }
  .container {
    border: 0.1px solid transparent;
    padding: 0.45em 0em;
  }

  #texts {
    margin: 10em auto;
  }
}

#secondBody {
  background-color: #212121;
}

.dots {
  font-weight: 700;
}

#about {
  font-size: 16px;
}

#about b {
  color: #29ad17;
}

@media screen and (min-width: 1px) and (max-width: 788px) {
  #ello {
    display: none;
  }

  .dragon {
    text-transform: uppercase;
  }
  #marsh{
  width: 70%;
  margin-left: 5em;  
  
  }
  #hell{
    /* width: 100%; */
    text-align: center;
  }

  #marsh h1{
    text-align: center;
  }

}





#ello {
  font-size: 13em;
  margin-top: 1.5rem;
}

#thirdDiv {
  background-color: #212121;
}

#ac {
  font-size: 1.4em;
  margin-top: 0.1em;
  margin-left: 1.5em;
}

#pp {
  border: 2px solid #212121;
  border-radius: 3em;
  width: 21rem;
  background-color: #e4a11b;
}

#pp:hover {
  background-color: #ecbd5f;
  transition: transform 0.5s;
}

#pe {
  border: 2px solid #212121;
  border-radius: 3em;
  width: 21rem;
  background-color: #5f2828;
}

#pe:hover {
  background-color: #914545;
  transition: transform 0.5s;
}

#dates {
  color: #f03939;
}

#skillsec {
  background-color: #212121;
}

#skillsec h2 {
  color: #f03939;
}

#code {
  color: #f03939;
}

#i {
  color: #dd4b25;
}

#ii {
  color: #1a6fb4;
}

#iii {
  color: #e2c430;
}

#iv {
  color: #5b28a5;
}

#v {
  color: #61dbfb;
}

#vi {
  color: rgb(255, 255, 255);
}

#vii {
  color: #0066e6;
}

#achievementBody {
  background-color: #212121;
}

#ct a {
  margin-top: 2em;
  margin-bottom: 2em;
}

#ContactBody {
  background-color: #212121;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #f03939;
}

::webkit-scrollbar-thumb:hover {
  background-color: #f03939;
}

#topButton button {
  position: absolute;
  right: 0;
  margin-top: 1em;
  /* padding: 1em; */
  /* width: 3.5em; */
  border: none;
  width: 2.3em;
  border-radius: 100%;
  background-color: #e2c430;
  cursor: pointer;
}

#topButton {
  background-color: #212121;
}

#email {
  color: #ea4335;
  font-size: 2em;
}

#wp {
  color: #29ad17;
  font-size: 2em;
}

.inputBox h6 {
  font-family: "Courier New", Courier, monospace;
}

#telegram {
  color: #2fa6dd;
  font-size: 2em;
}

.inputBox i {
  margin-top: 1em;
  margin-bottom: 1em;
}

#footerBody {
  background-color: #212121;
}

#footerBody a {
  text-decoration: none;
}

#ello {
  font-size: 8em;
  margin-top: 0.8em;
}

#bc {
  font-size: 1.4em;
  margin-top: 0.2em;
  margin-left: 1.5em;
  color: black;
}
